:root {
	/* die blauw ipv rood, gebruikt voor span */
	--primary-accent-color: #0064c8;
	/* die blauw ipv rood, gebruikt voor span */
	--primary-accent-color-btn: #0064c8;
	/* achtergrondkleur website */
	--primary-background-color: #f2f5ff;
	/* net niet zwart, voor achtergrond kleur buttons en primary tekst kleur */
	--primary-dark-color: #222222;
	/* gewoon wit */
	--primary-light-color: #ffffff;
	/* border-radius voor tables */
	--primary-table-border-radius: 1rem;
	--primary-transparent-color: linear-gradient(90deg, #f2f5ff 40%, rgba(255, 255, 255, 0) 100%);
	--primary-transparent-color-after: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #f2f5ff 50%);
}

body {
	background-color: var(--primary-background-color);
}

.dark{
	--primary-accent-color: #ff0000;
	--primary-background-color: #F0F0F0;
	--primary-accent-color-btn: #000000;
	--primary-transparent-color: linear-gradient(90deg, #F0F0F0 40%, rgba(255, 255, 255, 0) 100%);
	--primary-transparent-color-after: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #F0F0F0 50%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

header {
	width: 100%;
	height: 10vh;
	z-index: 3;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

p {
	font-size: 1em;
	max-width: 70ch;
}

@media (min-width: 68em) {
	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 2.2em;
	}

	p {
		font-size: 1.1em;
	}
}


